
	.contact-button {

		background-color: skyblue;
		color: darkblue;
		width: 300px;
		height: 30px;
		border-style: outset  ;
		border-width: thick;
		border-color: skyblue;
		cursor: pointer;
		transition: filter .75s;
		font-size: 15px;
		font-style: italic;


		}
	.contact-button:hover {
		filter: saturate(2) hue-rotate(125deg);

	}
	.contact-button:active {
		border-style: inset
	}
